/* FONTS */

@font-face {
  font-family: 'Josefin_Sans';
  src: url('./fonts/JosefinSans/josefinsans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('./fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('./fonts/JosefinSans/josefinsans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('./fonts/playfairdisplay/PlayfairDisplay-Bold.woff2') format('woff2'),;
  font-weight: bold;
  font-style: normal;
}

/* GENERAL */

body {
  margin: 0;
  position: relative;
  border-color: white;
  border: 1rem;
  background-color: #EEECEB;
}

.header {
  background-color: #EEECEB;
  margin: 1rem 1rem 0 1rem;
}

.logo {
  width: 90px;
  height: 90px;
  display: inline-block;
  padding: 3rem;
  margin-left: 3rem;
}

ul.homenavlist {
  margin-top: 2.5rem;
  list-style: none;
  font-family: 'playfairdisplay', serif;
  font-weight: normal;
  padding-left: 1rem;
  display: inline-block;
}

.homenavlist li {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
  padding: 0.6rem;
}

a {text-decoration: none;}

a.portcs:link {color: #393E54;}
a.portcs:visited {color: #393E54;}
a.portcs:hover {color: #850009;
  transition-duration: 0.4s;}

a.resume:link {color: #393E54;}
a.resume:visited {color: #393E54;}
a.resume:hover {color: #850009;
  transition-duration: 0.4s;}

a.aboutme:link {color: #393E54;}
a.aboutme:visited {color: #393E54;}
a.aboutme:hover {color: #850009;
  transition-duration: 0.4s;}

.main {
  background-color: #EEECEB;
  margin: 0 1rem 0 1rem;
}

h3.name {
  margin: 0;
  padding-top: 4rem;
  padding-left: 6rem;
  font-family: 'Josefin-Sans', Helvetica, sans-serif;
  font-size: 20px;
}

h1.greeting {
  padding-left: 6rem;
  padding-top: 1rem;
  width: 600px;
  font-size: 46px;
}

.work1 {
  background-color: #C9B4B4;
  margin: 0 1rem 0 1rem;
  float: left;
  width: 900px;
  height: 475px;
}
