/* FONTS */

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/baskervville-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/baskervville-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* GENERAL */

body {
  margin: 0;
  position: relative;
}

.home {
  background-color: rgb(252, 247, 243);
}

nav {
  padding: 0.7rem;
  text-align: left;
  position: absolute;
  top: 8px;
  left: 16px;
}

ul.homenavlist, ul.navlist {
  margin-top: 2.5rem;
  list-style: none;
  font-family: 'Josefin_Sans', Helvetica, sans-serif;
  font-weight: normal;
  padding-left: 1rem;
}

.homenavlist li {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
  padding: 0.6rem;
}

.navlist li {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
  padding: 0.6rem;
}

a {text-decoration: none;}

a.portcs:link {color: #393E54;}
a.portcs:visited {color: #393E54;}
a.portcs:hover {color: #850009;}

a.resume:link {color: #393E54;}
a.resume:visited {color: #393E54;}
a.resume:hover {color: #850009;}

a.aboutme:link {color: #393E54;}
a.aboutme:visited {color: #393E54;}
a.aboutme:hover {color: #850009;}


h1.name {
  color: #393E54;
  font-family: 'Josefin_Sans', Helvetica, sans-serif;
  font-size: 550%;
  font-weight: bold;
  margin: 1rem;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 20%;
  right: 20%;
}

h2.positions {
  color: #696f8a;
  list-style: none;
  font-family: 'Josefin_Sans', Helvetica, sans-serif;
  font-size: 120%;
  font-weight: normal;
  text-align: center;
  padding-bottom: 6rem;
  margin: 1rem;
  position: absolute;
  text-align: center;
  top: 18%;
  left: 20%;
  right: 20%;
}

h3.greeting {
  color: #850009;
  font-family: 'Josefin_Sans', Helvetica, sans-serif;
  font-size: 200%;
  max-width: 50rem;
  padding: 3rem 3rem 3rem 7rem;
  position: absolute;
  left: 16px;
  top: 22%;
}

@media screen and (max-width: 1280px) {
  h1.name {
    font-size: 420%;
  }
  h2.positions {
    font-size: 100%;
    top: 18%;
  }
  h3.greeting {
    font-size: 180%;
  }
}

@media screen and (max-width: 950px) {
  h1.name {
    font-size: 380%;
    top: 12%;
    left: 2%;
    right: 2%;
  }
  h2.positions {
    font-size: 80%;
    top: 21.5%;
  }
  h3.greeting {
    font-size: 130%;
    top: 28%;
    max-width: 40rem;
  }
}

@media screen and (max-width: 768px) {
  h1.name {
    font-size: 270%;
    top: 12%;
    left: 1%;
    right: 1%;
  }
  h2.positions {
    font-size: 80%;
    top: 22%;
  }
  h3.greeting {
    font-size: 110%;
    top: 28%;
    max-width: 30rem;
  }
}

@media screen and (max-width: 375px) {
  h1.name {
    font-size: 200%;
    top: 22%;
    left: 2%;
    right: 2%;
  }
  h2.positions {
    font-size: 40%;
    top: 35%;
  }
  h3.greeting {
    font-size: 80%;
    top: 35%;
    max-width: 25rem;
    padding: 3rem 3rem 3rem 2rem;
  }
}

.works {
  background-color: #ccc2b8;
}

/* ABOUT ME */

h3.aboutme {
  color: #393E54;
  font-family: 'Josefin_Sans', Helvetica, sans-serif;
  margin: 1.5rem;
  padding-left: 0.5rem;
  font-size: 2.5rem;
}

.aboutmebody {
  margin: 0 auto;
  max-width: 500px;
}

.selfpic {
  width: 285px;
  margin: 0.5rem auto;
  padding-left: 2.5rem;
  padding-top: 30%;
  top: 25%;
}

.meparagraphs {
  margin: 0 auto;
}

.me_para {
  text-align: left;
}