/* FONTS */

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-lightitalic-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair_Display';
  src: url('../fonts/PlayfairDisplay/playfairdisplay-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair_Display';
  src: url('../fonts/PlayfairDisplay/playfairdisplay-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair_Display';
  src: url('../fonts/PlayfairDisplay/playfairdisplay-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair_Display';
  src: url('../fonts/PlayfairDisplay/playfairdisplay-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

/* GENERAL */

body {
  margin: 0;
  position: relative;
  background-color: #EEECEB;
  border-color: white;
  border: 1rem;
}

.header {
  background-color: #EEECEB;
  margin: 1rem 1rem 0 1rem;
}

.logo {
  width: 90px;
  height: 90px;
  display: inline-block;
  padding: 3rem;
  margin-left: 3rem;
}

.navlist {
  margin-top: 4.5rem;
  margin-right: 4rem;
  list-style: none;
  font-family: 'Playfair_Display', serif;
  font-weight: normal;
  float: right;
}

.navlist li {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
  padding: 2rem;
  font-size: 18px;
}

a {text-decoration: none;}

a.portcs:link {color: #393E54;}
a.portcs:visited {color: #393E54;}
a.portcs:hover {color: #850009;
  transition-duration: 0.4s;}

a.resume:link {color: #393E54;}
a.resume:visited {color: #393E54;}
a.resume:hover {color: #850009;
  transition-duration: 0.4s;}

a.aboutme:link {color: #393E54;}
a.aboutme:visited {color: #393E54;}
a.aboutme:hover {color: #850009;
  transition-duration: 0.4s;}

.main {
  margin: 0 1rem 0 1rem;
  padding-left: 4rem;
}

h3.name {
  margin: 0;
  padding-top: 4rem;
  padding-left: 6rem;
  font-family: 'Josefin_Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
}

h1.greeting {
  padding-left: 6rem;
  padding-top: 1rem;
  width: 1100px;
  font-size: 60px;
  font-family: 'Playfair_Display', serif;
  font-weight: normal;
}

.work1 {
  background-color: #C9B4B4;
  margin: 8rem 1rem 0 1rem;
  float: left;
  width: 1000px;
  height: 550px;
  box-shadow: 10px 10px 10px rgb(153, 153, 153);
}

img.rodin {
  position: absolute;
  height: 560px;
  width: 660px;
  padding-left: 13rem;
  padding-top: 9rem;
}

.workcontext1 {
  position: absolute;
  padding-left: 55rem;
  padding-top: 7rem;
}

h4.worktitle1 {
  font-family: 'Playfair_Display', serif;
  font-size: 45px;
  font-weight: normal;
}

p.workcontent1 {
  padding-left: 10rem;
  font-family: 'Josefin_Sans', Arial, sans-serif;
  font-size: 25px;
}

.link1 {
  padding-left: 10rem;
  font-family: 'Josefin_Sans', Arial, sans-serif;
  font-size: 10px;
}

.work2 {
  background-color: #B8AB9C;
  margin: 8rem 1rem 0 1rem;
  float: right;
  width: 1000px;
  height: 550px;
  box-shadow: 10px 10px 10px rgb(153, 153, 153);
}

h4.worktitle2{
  font-family: 'Playfair_Display', serif;
  font-size: 45px;
  font-weight: normal;
}

.workcontext2 {
  position: absolute;
}

